<form ng-submit="login()">
    <div class="loginform">
        <div style="color: red">{{ login_error }}</div>
        <div  class="input">
            <label class="label">Username:&nbsp;</label>
            <input class="type" type="text" ng-model="user.username"/>
        </div>

        <div class="input">
            <label  class="label">Password&nbsp;:&nbsp;</label>
            <input  class="type" type="password" ng-model="user.password"/>
        </div>
        <br>
        <div  class="submit">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
